@using System.Data;
@{
    ViewBag.Title = "Giriş";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hidedesktop" style="margin-top:20%"> </div>
<form method="post" action="@Url.Content("~/Login/GirisYap")">
    <div class="row gtr-0">
        <div class="col-5 col-4-small" style="text-align:right; margin-top:10px; font-weight:bold; padding: 5px 5px;">
            KULLANICI ADI :
        </div>
        <div class="col-3 col-8-small" style="padding: 5px 5px; font-weight:bold;">
            <input type="text" id="tKullaniciAdi" name="tKullaniciAdi"
                   style="width:100%; background-color:#fff465; font-weight:bold;"
                   autocomplete="off" required />
        </div>
        <div class="col-4 hidemobile"> </div>

        <div class="col-5 col-4-small" style="text-align:right; margin-top:10px; font-weight:bold; padding: 5px 5px;">
            ŞİFRE :
        </div>
        <div class="col-3 col-8-small" style="padding: 5px 5px;">
            <input type="password" id="tSifre" name="tSifre"
                   style="width:100%; background-color:#fff465; font-weight:bold;"
                   autocomplete="off" required />
        </div>
        <div class="col-4 hidemobile"></div>

        <div class="col-5 hidemobile"></div>
        <div class="col-2 col-12-small">
            <button type="submit" class="btnPrimaryMedium" style="background-color:darkgreen; font-size:20px; margin:10px; padding:15px;">
                Giriş Yap
            </button>
        </div>
    </div>
</form>
